{% extends 'base.html.twig' %}

{% block title %}⭕ EXERCICE 1 ⭕{% endblock %}

{% block body %}

    <h2 class="text-success text-center">Voici la solution de l'exercice 1 !!</h2>
    <p class="text-center">La variable a vaut {{ a }}</p>
    <p class="text-center">a * 2 = {{ a * 2 }}</p>

    {% if a > 10 %}
        <p class="text-center">La variable a a une valeur supérieur à 10</p>
    {% elseif a == 10 %}
        <p class="text-center">La variable a vaut 10</p>
    {% else %}
        <p class="text-center">La variable a a une valeur inférieur à 10</p>
    {% endif %}
    <p>Le caractere de concatenation est <code>~</code></p>
    <p>{{"La variable a vaut "~ a ~"."}}</p>
{% endblock %}